Error parsing ICS calendar from NSW Government

HA: 2022.12.1
ics_calendar: 3.1.5

I'm looking to import public holidays supplied by the Australian NSW Government: https://www.industrialrelations.nsw.gov.au/public-holidays/public-holidays-in-nsw/#icalendar-downloads

This is my config. The user-agent is required.

```
- platform: ics_calendar
  calendars:
    - name: NSW Public Holidays 2021-2023
      url: https://staticontent.dpc.nsw.gov.au/ir/calendar/NSW-Public-Holidays-dates-2021-2023.ics
      user_agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36
```

I'm getting an error with both the `rie` and `ics` parsers. Logs attached.

A brief skim of the logs appears the issue is either to do with `BEGIN:VCALENDAR` at the top of the ICS file.

[ics.txt](https://github.com/franc6/ics_calendar/files/10203222/ics.txt)
[rie.txt](https://github.com/franc6/ics_calendar/files/10203223/rie.txt)


It looks like the file is starting with the UTF-8 BOM. Given that ICS is supposed to be UTF-8 when not defined by the transport (see RFC 5545, section 3.1.4), most http servers will by default define the character set as part of the protocol, and finally that the use of a BOM for UTF-8 is not recommended, I call this a bug in the calendar provider. :)

However, adding a simple work-around is easy, so I’ll do that as soon as I can get to it. I will only check if the first three bytes are the UTF-8 BOM, and strip them if so.

If you can contact the maintainer of the calendar, you should probably point out the incorrectness of including a BOM.  The Content-Type header should be used to indicate that it’s UTF-8, at most.

Thanks for the quick reply. I've sent them a message using their feedback form.

A work-around was added in version 3.1.6.

I'm not seeing the update in the HACS after some fiddling around. Do you need to create a GH release instead of a tag?

Yeah, it looks like I forgot to promote the tag to a release. :(. I’ll have to do it tomorrow, from a computer where I can see what I’m doing. :)