List future events

Hi there,
I was testing your integration and as far as I understood it only create an entity which will be "triggered" the day of  an event, if "today" has no event, it will be set to "off"

I would like to ask if there is somehow the possibility to see future events so that I can use in combination with the Atomic Calendar Card to show a month worth of data.

If it is possible I guess I am doing something wrong? :D

Also, on one specific calendar I got this error:
```
2020-05-12 14:46:05 ERROR (MainThread) [homeassistant.helpers.entity] Update for calendar.serie_a fails
Traceback (most recent call last):
  File "/home/ha/.homeassistant/custom_components/ics/calendar.py", line 120, in _downloadAndParseCalendar
    calendar = Calendar(urlopen(self.url).read().decode().replace('\0', ''))
  File "/home/ha/homeassistant/lib/python3.7/site-packages/ics/icalendar.py", line 68, in __init__
    self._populate(containers[0])  # Use first calendar
  File "/home/ha/homeassistant/lib/python3.7/site-packages/ics/component.py", line 51, in _populate
    .format(container.name, line_name))
ValueError: A VCALENDAR must have at least one PRODID

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/ha/homeassistant/lib/python3.7/site-packages/homeassistant/helpers/entity.py", line 279, in async_update_ha_state
    await self.async_device_update()
  File "/home/ha/homeassistant/lib/python3.7/site-packages/homeassistant/helpers/entity.py", line 472, in async_device_update
    await self.hass.async_add_executor_job(self.update)
  File "/usr/local/lib/python3.7/concurrent/futures/thread.py", line 57, in run
    result = self.fn(*self.args, **self.kwargs)
  File "/home/ha/.homeassistant/custom_components/ics/calendar.py", line 97, in update
    self.data.update()
  File "/home/ha/homeassistant/lib/python3.7/site-packages/homeassistant/util/__init__.py", line 240, in wrapper
    result = method(*args, **kwargs)
  File "/home/ha/.homeassistant/custom_components/ics/calendar.py", line 167, in update
    calendar = self._downloadAndParseCalendar()
  File "/home/ha/.homeassistant/custom_components/ics/calendar.py", line 131, in _downloadAndParseCalendar
    except Error as error:
NameError: name 'Error' is not defined
```

This is the calendar config:
```
  - name: Serie A
    url: https://p01-calendars.icloud.com/published/2/2ItkHf_qlcSRk1rj3BefBc2TFdW65b9B-Nc5rqHtYBs4QV1YQBjJzOygJtGLPzptlPTqqQiO2oV0mT1hIbwVI9o3X8yv9PLC4fp95dPymLM
    includeAllDay: true
```

Thanks :)

First, please only include one problem per issue.

Calendars in Home Assistant will set the state to "on" only during an event.  That's just how calendars work.  However, you can query the calendar for future events.  I don't use that particular calendar card, but if it's made to show future events and work with Home Assistant calendars, it'll just work.  If you have trouble getting it to work, I'd recommend a little trouble-shooting first, to be sure the calendar really is working.  If it's working, and the card still won't display future events, then you should contact the author of the card, armed with your trouble-shooting information. :)

Check out the HA REST API docs at https://developers.home-assistant.io/docs/api/rest/.  Unfortunately, the calendars API isn't well documented there, but in general, it's: <base URL for your HA>/api/calendars/<entity_id for calendar>/events

The REST API docs will help you figure out how to make sense of the above paragraph. :)  AFAIK, the REST API is the only way to see future (or past) events, and AFAIK, is what the various calendar cards use.

As to the second problem, the calendar at the URL you give is broken.  As the error message suggested, it's missing the PRODID entry.  Given that the RFC which defines the format is clear that the entry is required (RFC 5545, Section 3.7.3), I believe the library my code is using does the right thing in rejecting the file. :)

Hi there, sorry for the two-problems-in-one :)

Thanks for the REST API bit, I'll take a look.
My understanding was that it was depending on the calendar integration, not on HA or the card :)
Will investigate.

For the second issue ok, nothing I can do, it works on my calendar apps (phone and pc) but I guess that it's up to them to fix it (which I doubglt it will eve happen xD )

Out of curiosity, do you actually show the future events for your calendars on a different card?
If yes, would you mind sharing the card config? ^^

Thanks

Yeah, broken files are a pain.  Depending on who's producing the files, you can often nicely point out that some other software can't read it, and the guy who maintains that complained that the "file is broken", noting that it's missing a PRODID and said something about RFC 5545 and section 3.7.3.  :)  That might get you somewhere.  If they say they don't know how to make it unique, well, it only needs to be unique to them, not unique to each calendar.  And reverse domain-names are great.  Something like "com.company.coolcalendaring" would work if it was company.com's "Cool Calendaring" software. :)

I have configured calendar-card to show me 7 days of data.  The calendar is named "meals" in the following example:

```yaml
- dateBottomFormat: DD
  dateTopFormat: ddd
  entities:
    - entity: calendar.meals
      name: Meals
  hideHeader: false
  hideTime: true
  highlightToday: true
  numberOfDays: '7'
  progressBar: false
  showEventOrigin: false
  showLocation: false
  showLocationIcon: false
  showMultiDay: false
  startFromToday: true
  title: Meals
  type: 'custom:calendar-card'
```

Thank you very much! That's working! Now I need to get the atomic one to work :D

Regarding the broken one, it's just the Serie A calendar, no big deal (and they are not even playing...so... yeah..)

Unfortunately I don't have contact of the owner of the calendar, but I guess it's fine.

Thanks a lot for your help :)